<div class="flex container myContainer">
    <div class="row justify-content-around">
        <div id="des1" class="col-3 destination p-0" >
            <span class="price"> 100€</span>
            <br>
            <span class="location">Location</span>
        </div>

        <div id="des2" class="col-3 destination p-0">
            <span class="price"> 100€</span>
            <br>
            <span class="location">Location</span>

        </div>

        <div id="des3" class="col-3 destination p-0">
            <span class="price"> 100€</span>
            <br>
            <span class="location">Location</span>
        </div>        
    </div>

    <div class="row justify-content-around mt-4">
        <div id="des1" class="col-3 destination p-0" >
            <span class="price"> 100€</span>
            <br>
            <span class="location">Location</span>
        </div>

        <div id="des2" class="col-3 destination p-0">
            <span class="price"> 100€</span>
            <br>
            <span class="location">Location</span>

        </div>

        <div id="des3" class="col-3 destination p-0">
            <span class="price"> 100€</span>
            <br>
            <span class="location">Location</span>
        </div>        
    </div>

</div>